<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings>
		<!--网站ip配置,直接写ip即可,无需添加http://或者https:// -->
		<add key="ApiIp" value="127.0.0.1"/>

		<!--网站端口号配置-->
		<add key="ApiPort" value="8086" />

		<!--Opc服务ip配置,直接写ip即可,无需添加http://或者https:// -->
		<add key="OpcIp" value="192.168.30.41"/>

		<!--Opc服务端口号配置-->
		<add key="OpcPort" value="4840" />
		<add key="AduSendPre" value="DB_OPC_ECRIT_PAR_MES"/>
		<add key="AduReceivedPre" value="DB_OPC_LU_PAR_MES"/>

	</appSettings>

</configuration>