<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings>
		<!--网站ip配置,直接写ip即可,无需添加http://或者https:// -->
		<add key="ApiIp" value="127.0.0.1"/>

		<!--网站端口号配置-->
		<add key="ApiPort" value="8086" />

		<!--Opc服务ip配置,直接写ip即可,无需添加http://或者https:// -->
		<add key="OpcIp" value="127.0.0.1"/>

		<!--Opc服务端口号配置-->
		<add key="OpcPort" value="8089" />
		<!--定时检测是否有新消息的时间间隔，单位：毫秒-->
		<add key="CheckNewMessageInterval" value="1000" />
		 
	</appSettings>

</configuration>